.form__label {
  display: block;
  font-size: var(--font-size-S);
  color: var(--color-text-main);
  margin-bottom: 5px;
}

.form__error {
  color: var(--color-accent-red);
}

.form__field:active,
.form__field:hover,
.form__field:focus,
.form__field:focus-within {
  border: 1px solid var(--color-accent-green-dark);
}

.form__field:disabled {
  border: 1px solid var(--color-accent-red);
}

.input__wrapper {
  margin-bottom: 20px;
}
