.input {
  width: 100%;
  display: flex;
  align-items: center;

  &__wrapper {
    position: relative;
    width: 100%;

  }

  &__label {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  &__field {
    appearance: none;
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    background-color: #ffffff;
    font-family: var(--font-family-main);
    font-size: var(--font-size-M);
    color: var(--color-text-main);
    padding: 8px 45px 8px 12px;

    transition: border-color 0.3s ease;

    &--pw {
      padding-right: 85px;
    }

    &--cursor-pointer {
      cursor: pointer;
    }

    &--without-cursor {
      pointer-events: none;
    }

    &--shifted {
      padding-left: 38px;
    }

    &--mobile {
      background-color: var(--color-dark);
      border-color: var(--color-dark);
      color: var(--color-white);

    }

    &::placeholder {
      font-family: var(--font-family-main);
      font-size: var(--font-size-M);
      color: var(--color-input-icons);
    }
   
    &:active,
    &:focus {
      outline: none;
      border-color: var(--color-accent-green-main);
    }

    &:disabled {
      border-color: var(--color-input-field);
      opacity: 0.4;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 30px white inset;
    }

   &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      position: absolute;
    //  top: 10px;
   // right: 14px;
     opacity: 0;
      z-index: 1;
    }

    &--no-border {
      border-color: var(--color-white);

      &:disabled {
        border-color: var(--color-white);
      }
    }

    &--textarea {
      appearance: none;
      width: 100%;
      min-width: 100%;
      min-height: 100px;
      display: flex;
      justify-content: space-between;
      border: 1px solid #dbdbdb;
      border-radius: 8px;
      background-color: #ffffff;
      color: #4e4e4e;
      font-size: 16px;
      padding: 8px 35px 8px 12px;
      overflow: visible;
      resize: vertical;

      &::-webkit-resizer {
        display: none;
      }

      @media (min-width: 768px) {
        min-height: 140px;
      }
    }
  }

  &__button {
    display: flex;
    // width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: middle;
    margin: 0; //временно, чтобы перебить стили Bulma
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;

   &:hover svg,
   &:focus-within svg{
    color: var(--color-accent-green-main)
   }
  
    &--clear {
      z-index: 1;
    }

    &--disabled {
      opacity: 0.4;
     
    }
  }

 

 

  &__value-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }
}