.custom-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
  padding: 0;

  &__label {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__field {
    appearance: none;
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 24px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: var(--font-family-main);
    font-size: var(--font-size-M);
    color: var(--color-text-main);
    padding-left: 12px;
    padding-right: 12px;

    &::placeholder {
      font-family: var(--font-family-main);
      font-size: var(--font-size-M);
      color: var(--color-input-icons);
    }

    &:active,
    &:focus {
      outline: none;
      border: 1px solid #48c78e;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 30px white inset;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 10px;
      right: 14px;
      opacity: 0;
      z-index: 1;
    }

    &--textarea {
      appearance: none;
      width: 100%;
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      min-height: 80px;
      border: 1px solid #dbdbdb;
      border-radius: 24px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      color: #4e4e4e;
      font-size: 16px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 8px;
      overflow: visible;
      resize: vertical;

      &::-webkit-resizer {
        display: none;
      }
    }
  }

  &__button {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: middle;
    margin: 0; //временно, чтобы перебить стили Bulma
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 9px;
    right: 12px;
    background-color: var(--color-white);

    //На будущее, для дизайна инпутов с кнопкой "Отмена":
    //&--cancel {
    //  color: #363636;
    //  opacity: 0.3;
    //  margin-left: 8px;
    //}

    &--icon {
      color: var(--color-input-icons);
      z-index: 0;
      pointer-events: none;
    }

    &--clear {
      color: var(--color-input-icons);
      z-index: 2;
    }
  }
}
