:root {
  --color-white: #ffffff;

  --color-text-main: #4e4e4e;
  --color-text-secondary: #acacac;

  --color-input-icons: #c3c3c3;
  --color-input-field: #dbdbdb;

  --color-icons: #4e4e4e;

  --color-accent-green-main: #48c78e;
  --color-accent-green-dark: #21a86b;
  --color-accent-red: #ef5f5f;
}