:root {
  //BREAKPOINTS
  --width-mobile: 375px;
  --width-tablet: 768px;
  --width-desktop: 1440px;

  //COLORS
  --color-text: var(--color-text-main);
  --background-color: var(--color-white);

  //FONTS
  --font-family-main: "Inter", "Arial", sans-serif;
  --line-height: 24px;
  --line-height-XS: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  --font-size-M: 16px;
  --font-size-S: 14px;
  --font-size-XS: 12px;
  --font-size-L: 18px;
  --font-size-XL: 24px;
  --font-size-XXL: 32px;

  //Margins
  --space-inner: 4px;
  --space-related-items: 8px;
  --space-unrelated-items: 16px;
  --space-subsections: 24px;
  --space-sections: 32px;

  @media (min-width: 768px) {
    --font-size-M: 16px;
    --font-size-S: 14px;
    --font-size-XS: 12px;
    --font-size-L: 18px;
    --font-size-XL: 24px;
    --font-size-XXL: 32px;
  }

  @media (min-width: 1440px) {
    --font-size-M: 16px;
    --font-size-S: 14px;
    --font-size-XS: 12px;
    --font-size-L: 18px;
    --font-size-XL: 24px;
    --font-size-XXL: 32px;
  }

  //BODY PADDINGS
  --padding-side: 12px;
  --header-height: 52px;

  //@media (min-width: 768px) {
  //    --padding-side: 30px;
  //}
  //
  //@media (min-width: 1440px) {
  //    --padding-side: 110px;
  //}
}
