version: '3.7'

x-logging: &default-logging
    driver: json-file
    options:
        max-size: '10m'
        max-file: '5'

services:
    frontend:
        build:
            context: .
            dockerfile: ./frontend/Dockerfile.dev
        logging: *default-logging
        command: rm -rf /tmp/nitro/worker-*; npm run dev
        ports:
            - '80:80'
            - '24678:24678'
        volumes:
            - ./:/app
        depends_on:
            - backend
        links:
            - backend
        environment:
            - NODE_ENV=development
            - VITE_MODE=development
            - VITE_STAGE=test
            - NUXT_PUBLIC_API_URL=http://127.0.0.1/api
            - NUXT_PUBLIC_BASE_URL=http://127.0.0.1
            - NUXT_PUBLIC_TELEGRAM_AUTH_BOT_NAME=afisha_oauth_local_bot
            - NUXT_PUBLIC_DOMAIN=localhost
            - NUXT_PUBLIC_GTAG_ID=localhostGtagId
            - NUXT_PUBLIC_GOOGLE_SIGN_IN_CLIENT_ID

    backend:
        build:
            context: .
            dockerfile: ./backend/Dockerfile.dev
        logging: *default-logging
        depends_on:
            - mongo
        links:
            - mongo
        environment:
            - MODE=dev
            - FRONTEND_URL=http://127.0.0.1
            - MONGO_URI=mongodb://mongo:27017/dev
            - NUXT_PUBLIC_GOOGLE_SIGN_IN_CLIENT_ID
        ports:
            - '7080:7080'
        volumes:
            - ./:/app

    mongo:
        image: mongo:6.0
        restart: unless-stopped
        command: ['--bind_ip_all']
        healthcheck:
            test: test $$(echo "rs.initiate().ok || rs.status().ok" | mongo --quiet) -eq 1
            interval: 10s
            start_period: 30s
        ports:
            - '27020:27017'
        volumes:
            - /tmp/ows-events/db:/data/db
