x-logging: &default-logging
    driver: json-file
    options:
        max-size: '10m'
        max-file: '5'

services:
    frontend:
        build:
            context: .
            dockerfile: ./frontend/Dockerfile.win.dev
        logging: *default-logging
        command: rm -rf /tmp/nitro/worker-*; npm run dev
        ports:
            - '80:80'
            - '24678:24678'
        depends_on:
            - backend
        links:
            - backend
        environment:
            - NODE_ENV=development
            - VITE_API_URL=http://127.0.0.1/api
            - VITE_BASE_URL=http://127.0.0.1
            - VITE_IPREGISTRY_API_KEY=ryy5dlbl3v8y55x4
            - VITE_MODE=development
            - VITE_TELEGRAM_AUTH_BOT_NAME=afisha_oauth_local_bot
        develop:
            watch:
                # sync static content
                - path: ./frontend
                  action: sync
                  target: /app/frontend
                  ignore:
                      - node_modules/
                - path: ./frontend/package.json
                  action: rebuild

    backend:
        build:
            context: .
            dockerfile: ./backend/Dockerfile.win.dev
        logging: *default-logging
        depends_on:
            - mongo
            - localisation-app
        links:
            - mongo
        environment:
            - FRONTEND_URL=http://127.0.0.1
            - MONGO_URI=mongodb://mongo:27017/dev
        ports:
            - '7080:7080'
        develop:
            watch:
                # sync static content
                - path: ./backend
                  action: sync
                  target: /app/backend
                  ignore:
                      - node_modules/
                - path: ./backend/package.json
                  action: rebuild

    mongo:
        image: mongo:4.4.6
        restart: unless-stopped
        command: ['--bind_ip_all']
        healthcheck:
            test: test $$(echo "rs.initiate().ok || rs.status().ok" | mongo --quiet) -eq 1
            interval: 10s
            start_period: 30s
        ports:
            - '27020:27017'

    pgdatabase:
        image: postgres:13
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=root
            - POSTGRES_DB=data
        ports:
            - 5433:5432
        volumes:
            - ./localization/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql

    localization:
        build:
            context: .
            dockerfile: ./localization/Dockerfile
        container_name: ows-events-localisation
        command: python /app/start.py
        restart: always
        ports:
            - 5000:5000
        environment:
            - USER=root
            - PASSWORD=root
            - HOST=pgdatabase
            - PORT=5432
            - DB=data
            - AUTH=123
            - OPENAI_API_KEY=qwe
            - SECRET_KEY=123
        develop:
            watch:
                - path: ./localization/root
                  action: rebuild
                  target: /app/root
                - path: ./localization/start.py
                  action: rebuild
                  target: /app/start.py
                - path: ./localization/store
                  action: rebuild
                  target: /app/store
